.notify-count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: #fff;
    background: #f95555;
    border-radius: 50%;
    font-size: 12px;
    line-height: 18px;
    box-sizing: border-box;
}
