.reply-message {
    display: flex;
    align-items: center;
    font-style: italic;
    color: #32363f;
}
    .reply-message--bg {
        margin: -8px -12px 8px;
        background-color: rgb(231 231 231);
        padding: 10px;
        border-radius: 10px;
        border-bottom-right-radius: 0;
    }
.reply-message__box {
    width: 100%;
}
.reply-message__icon {
    margin-right: 10px;
    font-size: 12px;
    color: rgba(0,0,0,.4);
    font-style: italic;
    color: #32363f;
}
.reply-message__text {
    margin: 0;
    padding-right: 10px;
    font-size: 12px;
}
.reply-message__type {
    display: flex;
    margin-bottom: 4px;
    align-items: center;
    font-size: 12px;
    font-style: italic;
    color: #32363f;
}
.reply-message__type-text {
    padding-left: 5px;
}
.reply-message__author {
    display: flex;
    align-items: flex-start;
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}
.reply-message__author-name {
    margin-right: 5px;
}
.reply-message__author-date {
    margin-left: auto;
    font-size: 10px;
    font-weight: 300;
}