.chat .humans .item.active {
    /*background: #77BF22 !important;*/
    /*cursor: pointer;*/
    transition: all 0.5s;
}

/*.humans .item.active * {*/
/*    color: #fff !important;*/
/*    transition: all 0.5s;*/
/*}*/

/*.humans .item.active .name span {*/
/*    background: #fff !important;*/
/*    color: #77BF22 !important;*/
/*    transition: all 0.5s;*/
/*}*/
.payment-form {
    display: flex;
}
.padding-bottom {
    padding-bottom: 10px;
}
.padding-top {
    padding-top: 10px;
}
.cursor {
    cursor: pointer;
}
.first input,
.second button {
    width: 100%;
}
.second button {
    text-align: center;
}

button.red {
    padding: 5px;
    border: 1px solid #c44242;
    border-radius: 5px;
    background: #c44242;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
}
.right-bottom {
    text-align: right;
    margin-top: 5px;
}
.message-opponent, .message {
    min-width: 120px;
}

.message-box a {
    text-decoration: underline;
    color: #77BF22;
}
.chat-top .icon {
    cursor: pointer;
}

img {
    font-size: 0;
}
.chat-block .valsec {
    padding-left: 5px;
}

.announcer-loaded {
    text-align: center;
    margin-top: 25px;
    font-size: 0.8rem;
    color: #77bf22;
}
