.chat-top__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-right: 1px solid #e7e7e6;
    background: white;
}

.chat-top__item {
    display: flex;
    align-items: center;
}

.chat-top__profile-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: opacity .2s;
}

.chat-top__avatar-price {
    font-size: 13px;
    color: #a4a4a4;
    margin: 0 10px 0 15px;
}

.chat-top__profile-link:hover {
    opacity: .7;
}

.chat-top__back-icon {
    display: none;
    margin-right: 10px;
}

.chat-top__back-icon svg {
    width: 20px;
}

.chat-top__avatar-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.chat-top__avatar-name {
    font-size: 13px;
    color: #111;
    margin: 0 10px 0 15px;
}


.chat-top .payment-form .left {
    width: 40%;
    color: #656;
}



.chat-top .payform .right {
    width: 60%;
    padding: 0 0 0 20px;
    box-sizing: border-box;
    color: #656;
}

.chat-top__item .player-button {
    cursor: pointer;
    transition: opacity .2s;
}

.chat-top__item .player-button:hover {
    opacity: .6;
}

.chat-top__item .player-button+.player-button {
    margin-left: 10px;
}

.chat-top__item.play-chat-block {
    cursor: pointer;
    transition: opacity .2s;
}

.chat-top__item.play-chat-block:hover {
    opacity: .6;
}

.chat-top .payform {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    padding: 0 25px;
    background: #c4e9f2;
    font-size: 12px;
    text-align: center;
}

.payform__button-green {
    margin-left: 10px;
    padding: 5px 15px;
    color: #fff;
    border: none;
    background: #77bf22;
    font-size: 13px;
    cursor: pointer;
}

.chat-top .payform__button {
    margin-left: 10px;
    padding: 5px 15px;
    color: #fff;
    border: none;
    background: #c44242;
    font-size: 13px;
    cursor: pointer;
}

.payform__appove-waiting-text{
    display: flex;
    align-items: center;
    gap: 5px;
}

.chat-top .payform__buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.chat-top .payform__text {
    font-family: inherit;
    margin: 0;
}

.payform__card_number {
    display: flex;
    align-items: center;
    gap: 5px;
}

.payform__text {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.chat-top .payform--is-paid {
    background-color: #beffb6;
}

.payform__text-container {
    display: flex;
    align-items: center;
    gap: 5px;
}


.payform {
    position: relative;
    z-index: 0;
    background: #c4e9f2;
}



.service-list {
    padding: 0;
    font-size: 13px;
    width: 197px;
    margin: 0;
}

.service-list li {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.orders-text{
    margin: 0;
    font-size: 13px;
    color: #111;
}

.service-list .service-name,
.service-list .service-price {
    position: relative;
    background: #fff;
    color: #8b8b8b;
}

.service-list .service-price b {
    color: #373737;
}

.service-list li::before {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 1px;
    border-bottom: 1px dashed #ccc;
}

.desktop{
    display: initial;
}
.mobile{
    display:none;
}
@media screen and (max-width: 1024px) {
    .chat-top .payform {
        flex-direction: column;
        height: unset;
        padding: 10px 10px;
    }

    .chat-top .payform__buttons {
        margin: 0;
    }

    .chat-top .payform__text {
        margin-bottom: 5px;
    }

    .chat-top__back-icon {
        display: block;
    }

}

@media screen and (max-width: 736px) {
    .desktop{
        display:none;
    }
    .mobile{
        display: initial;
    }
    .service-list {
        width: 113px;
        padding-left: 5px;

    }

    .payform__card_number {
        padding-bottom: 14px;
    }

    .payform__text-container {
        flex-direction: column;
    }

    .chat-top .payform {
        flex-direction: column;
        height: unset;
        padding: 10px 10px;
    }

    .chat-top .payform__buttons {
        margin: 0;
    }

    .chat-top .payform__text {
        margin-bottom: 5px;
    }
}