.read-mode-model {
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 1;
}
.read-mode-modal__container {
    display: flex;
    flex-direction: column;
    max-width: var(--container-width);
    margin: 0 auto;
}
.read-mode-model__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #eee;
    padding: 0 10px;
}
.read-mode-model__text {
    padding: 0 10px;
    text-align: center;
}
.read-mode-modal__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
.read-mode-modal__footer span {
    color: #ccc;
    font-size: 12px;
}
.read-mode-modal__footer p {
    color: #ccc;
    font-size: 20px;
    font-weight: bold;
}
.read-mode-modal__font-button {
    padding: 8px 10px;
    width: 50px;
    background-color: transparent;
    border: none;
    text-align: center;
    font-weight: bold;
    transition: background-color .2s;
}
.read-mode-modal__font-button:hover,
.read-mode-modal__close-button:hover {
    background-color: #e2e2e2;
}
.read-mode-modal__close-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: transparent;
    border: none;
    text-align: center;
    transition: background-color .2s;
}
.read-mode-modal__close-button svg {
    width: 20px;
}