.delete-profile {
    text-align: right;
    color: #a4a4a4;
    padding: 15px 0;
}

.delete-profile > span {
    transition: color .3s;
    cursor: pointer;
}

.delete-profile > span:hover {
    color: #f95555;
}
