input {
    outline-color: #d4d4d4;
}

input.error {
    border-color: red !important;
}

.error-text {
    color: red;
    text-align: left;
    font-size: 0.8rem;
}


.telegram-connect-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.telegram-connect-text-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.telegram-qr-img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.telegram-btn{
    text-align: center;
    width: 250px;
    margin: 0 auto;
}
