#profile .profile .container-bt {
    /*max-width: none !important;*/
    display: block;
}

#profile .profile .titlepage {
    width: 100%;
    color: #111;
    font-size: 32px;
    margin-bottom: 0;
    display: inline-block;
}

#profile .profile .titlepage.__aside {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#profile .profile .titlepage .titlepage-btn {
    margin-left: 20px;
}

#profile .profile .item-play {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row nowrap;
}

#profile .profile .item-play>div {
    margin-top: 15px;
}

#profile .profile .item-play .item-play__presentation {
    min-width: 200px;
    flex: 1;
}

#profile .profile .item-play .item-play__presentation>div[class$="-control"] div[class$="-placeholder"] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#profile .item-play__button {
    display: flex;
    align-items: center;
    flex: 1;
}

#profile .sounds__button {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 7px;
    background: #ccc;
    color: #2f2f2f;
    font-size: 13px;
    cursor: pointer;
    display: inline-block;
}

#profile .sounds__button input {
    display: none;
}

#profile .item-play__track>* {
    padding: 8px;
}

#profile .item-play__track {
    min-width: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}



#profile .item-play__track .remove-button {
    margin-left: 10px;
}

#profile .profile .item-play__cell-1 {
    min-width: 75px;
    position: relative;
    float: left;
    margin-bottom: auto;
}


#profile .profile .item-play .item-play__warning {
    position: absolute;
    top: 2px;
    left: 0;
    font-size: 11px;
}

#profile .profile .item-play__cell-1 svg {
    display: none;
    position: absolute;
    z-index: -1;
    top: 6px;
    left: 42px;
    stroke: #d0021b;
}

#profile .profile .__warning .item-play__cell-1 svg {
    display: block;
}

#profile .profile .item-play__group {
    width: 100%;
}

#profile .profile .item-play__extra {
    margin-top: 5px;
}

#profile .profile .item-play__extra input {
    width: 100%;
}

.item-play__cell {
    padding-right: 28px;
}

.item-play__cell.__gender {
    min-width: 260px;
    max-width: 260px;
}

.item-play__cell.__theme {
    min-width: 215px;
    flex: 1 1 auto;
}

.item-play__cell.__age,
.item-play__cell.__lang {
    min-width: 215px;
}

.item-play__cell:last-child {
    padding-right: 0;
}

.input-v2 {
    flex: 1;
    height: 38px;
    border: 1px solid #d4d4d4;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-v2:hover,
#profile input:hover,
#profile textarea:hover,
#profile select:hover {
    border-color: hsl(0, 0%, 70%) !important;
    border-width: 1px !important;
}

.input-v2:focus,
#profile input:focus,
#profile textarea:focus,
#profile select:focus {
    border-color: #2684ff !important;
    border-width: 1px !important;
}

#profile .profile .item-play .item-play__icon {
    width: 15px;
}

#profile .profile .item-play .item-play__icon--close {
    width: 12px;
}

#profile .profile .item-play .item-play__icon--star {
    width: 28px;
}


#profile .profile .more-announcer-service {
    margin-top: 50px;
    font-size: 15px;
    line-height: 22px;
}

#profile .profile .photo {
    margin-top: 50px;
}

#profile .profile .equipment {
    margin-top: 50px;
    font-size: 15px;
    line-height: 22px;
}

#profile .profile .speaker-voice-features .block .title {
    color: #111;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 2px solid #77bf22;
    padding-bottom: 2px;
    margin-bottom: 25px;
    display: inline-block;
}

#profile .sounds {
    margin: 22px 0 5px 0;
    padding: 0;
    list-style: none;
}

#profile .sounds__item {
    font-size: 15px;
    color: #111;
    margin-top: 15px;
    border-top: solid 1px #ccc;
}

#profile .sounds__item.error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -10px;
    margin-right: -10px;
}

#profile .sounds__item.error .error-text {
    color: red;
    font-size: 0.7rem;
    margin-top: 5px;
}

#profile .sounds__li-button:not(:first-child) {
    margin-top: 38px;
}

#profile .sounds__li-button img {
    display: block;
    margin: 0 auto;
    height: 80px;
    position: relative;
    z-index: 20;
}

#profile .sounds__li-steps {
    padding-left: 13px;
}

#profile .sounds__li-steps li {
    margin-bottom: 10px;
}

#profile .sounds__li-desc {
    font-size: 12px;
    border-bottom: none;
    margin-bottom: 15px;
}

#profile .sounds__li-desc.mb-35 {
    margin-bottom: 35px;
}

#profile .profile .speaker-voice-features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

#profile .profile .speaker-voice-features .speaker-voice-features:last-child {
    margin-bottom: 0;
}

#profile .profile .speaker-voice-features .label {
    color: #a2a2a2;
    font-size: 14px;
    margin-bottom: 15px;
}

#profile .profile .speaker-voice-features .label a {
    color: #7092be;
}

#profile .profile .speaker-voice-features .label a:hover {
    text-decoration: underline;
}

#profile .profile .speaker-voice-features .block>div>textarea {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    min-height: 38px;
    display: block;
}

.speaker-voice-cell {
    position: relative;
    padding-top: 7px;
    padding-bottom: 25px;
    margin-bottom: 10px;
}

.speaker-voice-cell .speaker-tel-input input {
    padding: 10px 0 !important;
    border-radius: 0;
    font-weight: bold;
    flex: 1 1;
    width: 100%;
    height: 38px;
    border: 0;
    font-size: 16px;
    border-bottom: 1px solid #d4d4d4;
    box-sizing: border-box;
}

.speaker-voice-cell .speaker-tel-input .flag-dropdown,
.speaker-voice-cell .speaker-tel-input .PhoneInputCountry {
    display: none !important;
}

.speaker-voice-cell .error-text {
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input-holder {
    width: 100%;
    position: relative;
}

.speaker-voice-cell .speaker-tel-input+.input-placeholder,
.input-v3+.input-placeholder {
    position: absolute;
    left: 0;
    top: -10px;
    font-size: 11px;
    pointer-events: none;
    transition: top .3s, font-size .3s;
}

.input-v3 {
    font-weight: bold;
    border-radius: 0;
    flex: 1;
    width: 100%;
    height: 38px;
    border: 0;
    border-bottom: 1px solid #d4d4d4;
    padding: 10px 0;
    box-sizing: border-box;
}

.speaker-voice-cell .speaker-tel-input input::placeholder,
.input-v3::placeholder {
    color: transparent !important;
}

.speaker-voice-cell .speaker-tel-input.__error input {
    border-color: #f00 !important;
}

.speaker-voice-cell .speaker-tel-input.__empty+.input-placeholder,
.input-v3:placeholder-shown+.input-placeholder {
    top: 10px;
    font-size: 14px;
}

.input-v1,
#profile .profile .speaker-voice-features .block>div>input:not([type="checkbox"]),
#profile .profile .speaker-voice-features .block>div>textarea {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    min-height: 38px;
    display: block;
    height: 45px;
    border: 1px solid #d4d4d4;
    padding: 10px;
    border-radius: 7px;
    box-sizing: border-box;
    outline: none;
}

.input-v1,
#profile .profile .speaker-voice-features .block>div>input:not([type="checkbox"])::placeholder,
#profile .profile .speaker-voice-features .block>div>textarea::placeholder {
    color: #a4a4a4;
    font-size: 13px;
}

.input-v1[disabled] {
    color: transparent !important;
    pointer-events: none;
}

#profile .profile .speaker-voice-features .block>div>input[type="file"] {
    border: none;
}

#profile .profile .announcer-tags {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
}

#profile .speaker-price-features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    font-size: 14px;
}

#profile .speaker-price-features.__disabled {
    color: #8b8b8b;
}

#profile .speaker-price-features .title {
    font-size: 14px;
    position: relative;
    flex: 1 0 auto;
    max-width: 47vw;
}

#profile .speaker-price-features .title span {
    position: relative;
    z-index: 1;
    padding-right: 5px;
    background: #fff;
}

#profile .speaker-price-features .speaker-info {
    position: relative;
    padding-left: 40px;
    flex: 0 0 140px;
}

#profile .speaker-price-features .speaker-info .error-text {
    position: absolute;
    white-space: nowrap;
    right: 0;
}

#profile .speaker-price-features .speaker-info>span {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}

#profile .speaker-price-features .speaker-info input {
    margin-bottom: 0;
}

#profile .speaker-price-features .title::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 1px;
    border-bottom: 1px dashed #ccc;
}

#profile .voice-info {
    padding-top: 20px;
}

#profile .voice-price {
    margin-bottom: 25px;
}

#profile .announcer-skills {}

#profile .announcer-skills dt {
    float: left;
    clear: both;
}

#profile .announcer-skills dd {
    float: left;
    margin-left: 5px;
}

#profile .profile .announcer-tags .head,
#profile .profile .speaker-voice-features .head,
#profile .profile .equipment .head,
#profile .profile .more-announcer-service .head,
#profile .profile .photo .head,
#profile .profile .work-time .head,
#profile .profile .announcer-reviews .head,
#profile .profile .example-stuffing .head {
    width: 100%;
    margin-bottom: 30px;
    line-height: 19px;
    color: #111;
    font-size: 19px;
    font-weight: bold;
}

#profile .profile .work-time .head span {
    color: #a4a4a4;
    font-size: 12px;
    font-weight: normal;
}

#profile .profile .announcer-tags span {
    padding: 10px 15px;
    color: #111;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    margin: 0 15px 15px 0;
}

#profile .profile .right {
    width: 20%;
}

#profile .profile .right .avatar-profile {
    width: 100%;
    height: 215px;
    border-radius: 5px;
    overflow: hidden;
}

#profile .profile .right .avatar-profile img {
    width: 100%;
    height: 250px;
    object-fit: fill;
}

#profile .profile .right .info {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 15px;
}

#profile .profile .right .info .price-d {
    width: 45%;
    color: #111;
    font-size: 19px;
    border-right: 1px solid #c4c4c4;
}

#profile .profile .right .info .likeunlike-stat {
    font-size: 12px;
    color: #8b8b8b;
}

#profile .profile .right .info .likeunlike {
    font-size: 19px;
    display: flex;
    background: #f2f2f2;
    height: 36px;
    border-radius: 18px;
    padding: 0 10px;
}

#profile .profile .right .info .likeunlike .star {
    margin-right: 5px;
    margin-top: -3px;
}

#profile .profile .right .info .likeunlike .likeunlike-green {
    color: #77bf22;
}

#profile .profile .right .info .likeunlike .likeunlike-red {
    color: #e62d2d;
}

#profile .profile .right .info button.green {
    width: 100%;
}


#profile .profile .right .online {
    margin: 15px 0;
    color: #a4a4a4;
    font-size: 13px;
}

#profile .profile .speaker-voice-features .block {
    width: 100%;
}

.save-block {
    margin-top: 30px;
}

.save-block .green {
    text-align: center;
}

.container-bt {
    position: relative;
    margin-bottom: 35px;
}

label>input[type="checkbox"] {
    width: auto !important;
    display: inline !important;
}

.checkbox-container {
    margin-right: 35px;
}

.photo-slick.min-image {
    min-height: 50px;
    min-width: 50px;
    margin-bottom: 15px;
}

.photo-slick .remove-photo-button {
    position: absolute;
    top: 0;
    right: 0;
}

.profile .save-row .green {
    text-align: center;
    width: 100%;
    display: block;
}

.profile .save-row {
    position: sticky;
    bottom: 0;
    margin: 0;
    padding: 5px 0;
    z-index: 2;
    width: 100%;
    order: 5;
}

.player__opened .profile .save-row {
    bottom: 105px;
}

.title-commission-text {
    margin: 0;
}

.commission-container {
    border: 1px solid hsl(0, 0%, 80%);
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 4px;
    color: #a2a2a2;
}

.speaker-info-commission {
    position: relative;
    flex: 0;
    font-weight: bold;
    font-size: 14px;
    color: black;
}

.title-commission {
    font-size: 14px;
    position: relative;
    flex: 1 0 auto;
    max-width: 54vw;
}
/* 
.title-commission::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 1px;
    border-bottom: 1px dashed #ccc;
} */



.speaker-price-features-commission {
    max-width: 58vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}


@media (max-width: 1200px) {
    #profile .profile .speaker-voice-features {
        margin-bottom: 20px;
    }

    #profile .profile .item-play .item-play__presentation {
        min-width: 70px;
    }

    #profile .profile .titlepage .titlepage-btn-fixed {
        display: none;
    }

    .item-play__cell {
        padding-right: 5px;
    }

    .item-play__cell.__gender {
        min-width: 230px;
        max-width: 230px;
    }

    .item-play__cell.__lang {
        min-width: 200px;
    }

    .item-play__cell.__theme {
        min-width: 200px;
    }

    .item-play__cell.__age {
        min-width: 200px;
    }

}

@media (max-width: 767px) {
    .player__opened .profile .save-row {
        bottom: 100px;
    }

    .save-block {
        text-align: center;
        min-width: 200px;
    }

    .photo-slick .remove-photo-button {
        right: 15px;
    }

    .photo-slick.min-image {
        padding-right: 15px;
    }

    #profile .item-play__track {
        justify-content: flex-start;
    }

    #profile .profile .item-play {
        flex-flow: column;
        align-items: stretch;
    }

    #profile .profile .item-play>* {
        max-width: none;
    }

    .item-play__cell.__controls {
        position: absolute;
        top: 0;
        left: 75px;
    }

    .item-play__cell.__gender {
        padding-top: 50px;
        position: relative;
    }

    .item-play__cell.__gender input {
        max-width: 100%;
    }

    #profile .item-play__cell.__gender .item-play__cell-1 {
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media screen and (min-width: 992px) {
    .speaker-voice-cell {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .profile .save-row {
        display: none;
    }

    #profile .profile .container-bt {
        transform: translateX(50px);
    }

    #profile .profile .titlepage.__aside {
        position: sticky;
        top: 80px;
        height: 0;
        margin: -14px 0 10px -215px;
        flex-wrap: wrap;
        width: 150px;
    }

    #profile .profile .titlepage.__aside h1 {
        margin-right: -50px;
        padding-bottom: 4px;
    }

    #profile .profile .titlepage .titlepage-btn {
        margin: 10px 0 0;
    }

    #profile .profile .titlepage .titlepage-btn button {
        text-align: center;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}

.preloader-holder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}