.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 150px;
    margin-top: -1px;
    background-color: #fff;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .2);
    overflow: hidden;
    word-break: break-all;
    z-index: 10;
}
.dropup{
    top: -210%;
}
.dropdown__list {
    position: relative;
    max-height: 200px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
}
.dropdown__list-item {
    display: flex;
    align-items: center;
    height: 38px;
    padding: 0 16px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    text-decoration: none;
}
.dropdown__list-item:not(:last-child) {
    border-bottom: 1px solid #ccc;
}
.dropdown__list-item--danger {
    color: red;
}
.dropdown__list-item:active,
.dropdown__list-item:hover {
     background-color: #f2f2f2;
     text-decoration: none;
 }