.notifies__list {
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 350px;
    overflow-y: auto;
    flex-direction: column;
}
.notify__close {
    pointer-events: none;
}
.notifies__list::-webkit-scrollbar {
    width: 5px;
}
.notifies__list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
.notifies__list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

.Toastify__toast-link {
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    cursor: pointer;
}

.Toastify__toast-link > svg {
    fill: #fff;
    width: 30px;
    height: 30px;
}

.Toastify__toast-link > div {
    padding-left: 10px;
    text-align: left;
}
