.promise-dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color .1s ease;
    pointer-events: none;
    box-sizing: border-box;
}
.promise-dialog * {
    box-sizing: border-box;
}
.promise-dialog--opened {
    background-color: rgba(0, 0, 0, .7);
    pointer-events: all;
    z-index: 1000;
}
.promise-dialog__container-wrapper {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    width: 420px;
    max-width: 95%;
    margin: 0 auto;
    transition: top .3s ease;
    pointer-events: all;
}
.promise-dialog--opened .promise-dialog__container-wrapper {
    top: 30% !important;
}
.promise-dialog__container-wrapper--pulse {
    animation-name: pulse_animation;
    animation-duration: 1000ms;
    transform-origin: 70% 70%;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
.promise-dialog__container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 20px 5px rgba(0, 0, 0, .2);
    background: #fff;
    color: #000;
}
.promise-dialog__container--danger .promise-dialog__button--submit {
    color: #f95555;
}
.promise-dialog__title {
    margin-top: 6px;
    font-weight: 700;
    font-size: 20px;
    color: #2f2f2f;
}
.promise-dialog__sub-title {
    font-size: 16px;
    font-weight: normal;
}
.promise-dialog__body {
    margin-bottom: 18px;
    font-size: 13px;
    line-height: 1.6;
}
.promise-dialog__footer {
    display: flex;
}
.promise-dialog__button {
    height: 30px;
    padding: 0 10px;
}
.promise-dialog__button:first-child {
     margin-left: auto;
 }
.promise-dialog__button + .promise-dialog__button {
    margin-left: 5px;
}

@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}