.chat-input {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    /* margin-bottom: 3px;
    padding: 3px 10px 3px 0; */
    outline-offset: -3px;
    box-sizing: border-box;
    padding: 0 10px;
}

[placeholder]:empty::before {
    content: attr(placeholder);
    color: #555; 
}

[placeholder]:empty:focus::before {
    content: "";
}

.chat-input__format-menu{
    padding: 5px;
    gap: 10px;
    background-color: white;
    border-top: solid 1px #e7e7e7;    
}

.chat-input__form {
    margin-bottom: 5px;
    background: white;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.chat-input__textarea {
    overflow: auto;
    flex: 1 1;
    height: 100%;
    padding: 10px;
    border: none;
    box-sizing: border-box;
    outline: none;
    resize: none;
}

.emoji{  
    vertical-align: middle;
    height: 20px; 
    display: inline-block;
    width: 20px;
    position: relative;
}

.emoji::after {
    content: '>';
    display: block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    bottom: 0;
    right: -1.5rem;
  }


  

.chat-input__file-field {
    display: none;
}
.chat-input__button,
.chat-input__file-label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    transition: opacity .2s;
}
.chat-input__button:hover,
.chat-input__file-label:hover {
    opacity: .7;
}
.chat-input__reply-message {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #E4E4E4;
    border-bottom: none;
}
.chat-input__reply-message-icon {
    margin-right: 10px;
    font-size: 12px;
    color: rgba(0,0,0,.4);
    font-style: italic;
    color: #51a6ff;
}
.chat-input__reply-message-text {
    margin: 0;
    padding-right: 10px;
    font-size: 12px;
}

.chat-input__close {
    flex: 0 0 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    margin-left: auto;
    border: 1px solid rgba(0,0,0,.4);;
    border-radius: 50%;
    transition: border-color .2s ease;
}
.chat-input__close:hover {
    border-color: #000;
}
.chat-input__close:hover path {
    fill: #000;
}
.chat-input__close svg {
    width: 8px;
    height: 8px;
}
.chat-input__close path {
    fill: rgba(0,0,0,.4);
    transition: fill .2s ease;
}

.chat-input__reply-message-type {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-style: italic;
    color: #51a6ff;
}
.chat-input__reply-message-type-text {
    padding-left: 5px;
}

.emoji-img:hover{
    opacity: 0.8;
    transition: 0.2s;
    cursor: pointer;
}

.chat-input__emojies-section{
    position: relative;
}

.chat-input__emojies-board{
    z-index: 2;
    border-radius: 20px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.08);
    height: 197px;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    position: absolute;
    top: -425%;
    left: 7px;
    width: 350px;
    background: white;
    padding: 10px;
}

.chat-input__emojies-board img{
    height: 30px;
    width: 30px;
}

.chat-input__reply-message-box{
    width: 100%;
    max-height: 100px;
    overflow: auto;
}

@media(max-width:400px) {
    .chat-input__emojies-board img{
        height: 24px;
        width: 24px;
    }
    .chat-input__emojies-board {

        width: 323px;
    }
}


/*.chat-input__file {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: relative;*/
/*}*/
/*.chat-input__form-box textarea {*/
/*    max-width: 100%;*/
/*    max-height: 100%;*/
/*    min-width: 100%;*/
/*    min-height: 100%;*/
/*}*/
/*.chat-input__form-box {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    !*padding: 10px;*!*/
/*    box-sizing: border-box;*/
/*    outline: 2px dashed #92b0b3;*/
/*    outline-offset: -5px;*/
/*    transition: outline-offset .15s ease-in-out, background-color .15s linear;*/
/*}*/

/*.chat-input__form-box.is-dragover {*/
/*    outline-offset: -20px;*/
/*    outline-color: #77BF22;*/
/*    background-color: #fff;*/
/*}*/
/*.chat-input__form-box.is-dragover svg,*/
/*.chat-input__form-box .has-focus svg {*/
/*    stroke: #77BF22;*/
/*}*/

/*.box__file,*/
/*.chat-input__form-box.is-uploading .box__input,*/
/*.chat-input__form-box.is-dragover textarea {*/
/*    visibility: hidden;*/
/*}*/
/*.chat-input__form-box .box__file {*/
/*    display: none;*/
/*}*/
/*.chat-input__form-box .file-upload,*/
/*.chat-input__form-box .telegram {*/
/*    top: 20px !important;*/
/*}*/