.create-bill {
    background: #c4e9f2;
    padding: 0 25px;
    font-size: 12px;
}
.create-bill__button {
    padding: 10px;
    color: #111;
    font-size: 13px;
    text-align: center;
    transition: opacity .2s;
    cursor: pointer;
}

.create-bill__button p {
    margin: 0;
}
.create-bill__button:hover {
    opacity: .7;
}
.create-bill__button--right {
    text-align: right;
}
.create-bill--is-paid {
    background-color: #beffb6;
}

.payment-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.payment-form__row {
    display: flex;
    align-items: center;
}
.payment-form__row + .payment-form__row {
    margin-top: 10px;
}
.payment-form__column {
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
    padding-left: 10px;
}
.payment-form__column:first-child {
    padding: 0;
}

.payment-form p {
    margin: 0;
    color: #656;
}
.payment-form__right {
    flex: 0 0 60%;
    padding: 0 0 0 20px;
    box-sizing: border-box;
    color: #656;
}
.payment-form__input {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 7px;
    padding: 0 15px;
    box-sizing: border-box;
}
.payment-form__button {
    text-align: center;
    transition: opacity .2s;
}
.payment-form__button:hover {
    opacity: .7;
}


.error-message-container{
    height: 20px;
}

.payment-form__button--red {
    padding: 8px 10px;
    border: none;
    border-radius: 7px;
    background: #c44242;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
}
.payment-form__button.green {
    width: 100%;
}

.create-bill-message__button{
   display: flex;
   flex-direction: column;
}

.create-bill-message-show__button{
    text-align: right;
}

.payment-form-mobile{
    display: none;
}

@media (max-width:640px){

    .payment-form__row{
        display: block;
    }

    .chat-top .payment-form{
        display: none;
    }
    .payment-form{
        display: none;
    }
    .payment-form-mobile{
        display: flex;
        flex-direction: column;
    }
}