.form-box textarea {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}
.chat-bottom {
    padding: 0 !important;
}
.chat-file {
    width: 100%;
    height: 100%;
    position: relative;
}
.form-box {
    width: 100%;
    height: 100%;
    /*padding: 10px;*/
    box-sizing: border-box;
    outline: 2px dashed #92b0b3;
    outline-offset: -5px;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.form-box.is-dragover {
    outline-offset: -20px;
    outline-color: #77BF22;
    background-color: #fff;
}
.form-box.is-dragover svg,
.form-box .has-focus svg {
    stroke: #77BF22;
}

.box__file,
.form-box.is-uploading .box__input,
.form-box.is-dragover textarea {
    visibility: hidden;
}
.form-box .box__file {
    display: none;
}
.form-box .file-upload,
.form-box .telegram {
    top: 20px !important;
}