.rce-mbox-audio {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.rce-mbox-audio * {
    box-sizing: border-box;
}

.rce-mbox-audio--icon {
    font-size: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.rce-mbox-audio--size {
    font-size: 10px;
    margin-top: 3px;
    max-width: 52px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rce-mbox-audio--text {
    font-size: 13.6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rce-mbox-audio--buttons {
    font-size: 30px;
    align-items: center;
    display: flex;
}
.rce-mbox-audio--buttons .rce-error-button {
    display: inherit;
}

.rce-mbox-audio--loading {
    font-size: 15px;
    width: 40px;
    height: 40px;
}

.rce-mbox-audio_player {
    display: flex;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}
.rce-mbox-audio_download,
.rce-mbox-audio_copy,
.rce-mbox-audio_play {
    margin-right: 10px;
}
.rce-mbox-audio_text {
    font-size: 12px;
    max-width: 135px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.rce-mbox-audio_message {
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 12px;
    line-height: 16px;
    border-left: 1px solid #000;
}
.rce-mbox-audio_button {
    padding: 6px 8px;
    background-color: #32363f;
    border-radius: 6px;
    border: none;
    font-size: 12px;
    white-space: nowrap;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    transition: opacity .2s;
}
.rce-mbox-audio_button:hover {
    opacity: .6;
}
.rce-mbox-audio_button:active {
    opacity: .8;
}
.rce-mbox-audio_button.rce-mbox-audio_button--danger {
    background-color: #f95555 !important;
    color: #fff !important;
}

.rce-mbox-right .rce-mbox-audio_message {
    border-left-color: #fff;
}
.rce-mbox-right .rce-mbox-audio_button {
    background-color: #fff;
    color: #32363f;
}

.rce-mbox-audio__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.rce-mbox-audio__buttons button + button {
    margin-top: 5px;
}

@media screen and (max-width: 600px) {
    .rce-mbox-audio {
        padding-right: 0;
        flex-wrap: wrap;
    }
    .rce-mbox-audio_player {
        margin-bottom: 10px;
    }
    .rce-mbox-audio_message {
        margin-bottom: 10px;
        padding-left: 0;
        border-left: none;
    }
    .rce-mbox-audio_button {
        width: 100%;
        text-align: center;
    }
    .rce-mbox-audio__buttons {
        width: 100%;
        margin-right: 0;
        order: 3;
    }
    .rce-mbox-audio_text {
        max-width: 80%;
    }
}
