.remodal-overlay {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8999;
    text-align: center;
    background: rgba(33, 36, 46, 0.95);
    zoom: 1;
    transition: opacity 0.2s linear;
}

.remodal-overlay > * {
    -webkit-transform: translateZ(0px);
}

.remodal-overlay:after {
    display: inline-block;
    height: 100%;
    margin-left: -0.05em;
    content: '';
    vertical-align: middle;
}

.remodal {
    font-size: 16px;
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 100%;
    padding: 35px;
    box-sizing: border-box;
    vertical-align: middle;
    background: #fff;
    background-clip: padding-box;
    color: #182a3c;
    box-shadow: 0 0 8px #171a24;
    transition: transform 0.2s linear;
    transform: scale(1);
}

.new-announcer-pop-up-width{
    max-width: 796px !important;
}

.remodal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    text-decoration: none;
}

.remodal-close:after {
    display: block;
    font-size: 28px;
    content: "×";
    line-height: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #3e5368;
    transition: all 0.2s linear;
}

.remodal-close:hover.remodal-close:after,
.remodal-close:active.remodal-close:after {
    color: #77BF22;
}

@media only screen and (min-width: 641px) /* min-width 641px */ {
    .remodal {
        max-width: 450px;
        margin: 20px auto;
        min-height: 0;
        border-radius: 6px;
    }
    .remodal.mini-remodal {
        max-width:320px;
    }
}
